body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex-grow: 1;
    margin-right: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

h1, h2, h3 {
    color: #333;
}

.productos, .carrito, .usuarios-lista, #cotizacion-dolar {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.producto {
    flex-grow: 1;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.agregar-carrito {
    margin: 10px; /* Esto a침ade una separaci칩n de 10px alrededor del bot칩n */
}

.carrito button {
   width:auto; 
   padding-left:15px; 
   padding-right:15px; 
   margin-top:10px; 
   margin-bottom:10px; 
}

.valor-dolar {
   font-size:2em; 
   color:#333; 
   font-weight:bold; 
}
#cotizacion-dolar {
    text-align: center;
}
.producto img {
    width: 100px;
    height:auto; 
}

/* Esto aplicar치 estilos diferentes cuando el ancho de la ventana del navegador sea menor o igual a 600px */
@media (max-width: 600px) {
.container{
width :100%;
}
.producto img {
        width :100%;
        height:auto; 
        object-fit :cover; 
}
}
